@import 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab';

/* ----------Variables---------- */
$reg-font: 'Roboto', sans-serif;
$slab-font: 'Roboto Slab', serif;
$chaordic-color: #aa1423;
$supp-color: #777;
$bg-topfive: #fff;
$bg-hits: #eee;
$btn-color: #f07225;
$default-color: #fff;

/* ----------Body---------- */

body {
  margin-left: 0;
  margin-right: 0;
  font-family: $reg-font;
  text-align: center;
  background-color: $bg-topfive;
  color: $default-color;
}
@media (max-width: 530px) {
  body {
    font-size: 75%;
  }
  h1 {
    font-size: 150%;
  }
}


/* ----------Header---------- */

.logo {
  margin: 0 auto;
  display: block;
  padding: 5px;
}

/* ----------Link shortener section---------- */

.text {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 10%;
  @media (max-width: 700px) {
    padding-top: 5%;
  }
}

.shorten-link {
  background-image: url("../images/background-home.jpg");
  background-size: cover;
  padding-bottom: 50%;
  input {
    width: 40%;
    padding-bottom: 1%;
    font-size: 100%;
    border: none;
    border-bottom: 3px solid $btn-color;
    background-color: transparent;
    color: $btn-color;
  }
  input:focus {
    outline: none;
  }
  span {
    position: relative;
    left: -20px;
    top: 3px;
    display: inline-block;
    font-size: 150%;
    color: $btn-color;
    cursor: pointer;
  }
  button {
    position: relative;
    left: -15px;
    height: 40px;
    width: 100px;
    color: $default-color;
    background-color: $btn-color;
    border: none;
    cursor: pointer;
    @media (max-width: 530px) {
      height: 26px;
      width: 90px;
    }
  }
  h1 {
    font-family: $slab-font;
  }
}

/* class to hide clear button */
.unclickable {
  opacity: 0;
  pointer-events: none;
}

::-webkit-input-placeholder,
::-moz-placeholder {
  color: $btn-color;
}

/* ----------Top 5 List Section---------- */

.top-list {
  width: 50%;
  margin: 0 auto;
  ul {
    padding: 0;
  }
  li, a {
    padding: 10px 0 10px 0;
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    color: $chaordic-color;
    border-bottom: 1px solid $bg-hits;
    &:hover {
      background-color: $bg-hits;
    }
  }
  h1 {
    color: $chaordic-color;
    font-family: $slab-font;
  }
  span {
    float: right;
    color: $supp-color;
  }
}

.centered {
  position: relative;
  padding-bottom: 10%;
}

/* ----------Total Hits Counter---------- */

.arrow-down {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid $bg-topfive;
}

.hits {
  padding-bottom: 10%;
  color: $chaordic-color;
  background-color: $bg-hits;
  p {
    color: $supp-color;
  }
  h1 {
    font-family: $slab-font
  }
}

.hit-counter {
  margin: 0 auto;
  width: 15%;
  padding: 0.5%;
  background-color: $bg-topfive;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
}

/* ----------Footer---------- */


.end {
  margin: 0 auto;
  width: 60%;
  padding-top: 20px;
  text-align: left;
  font-size: 125%;
  a {
    color: $chaordic-color;
    text-decoration: none;
  }
}

.icon {
  position: relative;
  right: -75%;
  margin-left: 10px;
}

/* ----------Animation---------- */

.blink {
  animation-name: animate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes animate {
  0%   {color: rgba(0,0,0,0);}
  100% {color: $default-color}
}
